dask
matplotlib
numpy
pandas
PyYAML
scipy
seaborn
torch
torchmetrics
tqdm
xarray
pyod
cartopy
scikit-image
scikit-learn
pytorch_lightning
segmentation-models-pytorch
zarr
shapely
notebook
imageio
tsai